/* Import Google Font */

@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: rgb(100, 100, 100);
}

.wrapper {
    width: 450px;
    background: #fff;
    border-radius: 7px;
    padding: 30px 25px 40px;
}

.wrapper :where(textarea, input, select, button) {
    width: 100%;
    border: none;
    border-radius: 5px;
    font-size: 17px;
    outline: none;
}

.wrapper textarea {
    height: 270px;
    resize: none;
    border: 1px solid #555555;
    padding: 8px 13px;
}

.wrapper .file-options {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.file-options .option {
    width: calc(100% / 2 - 8px);
}

.option :where(input, .select-menu) {
    height: 50px;
    border-radius: 5px;
    border: 1px solid #bfbfbf;
    margin-top: 6px;
    padding: 0 15px;
}

.option .select-menu select {
    height: 50px;
    background: none;
}

.wrapper .save-btn {
    color: #fff;
    background: #414141;
    margin-top: 20px;
    padding: 16px 0;
    cursor: pointer;
}

.wrapper .save-btn:hover {
    background: #202020;
}